body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: coral;
  color: coral;
}
h1 {
  text-align: center;
  font-size: 40px;
}
#form {
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
#name {
  border-radius: 5px;
  border: 1px coral solid;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
#submit {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: coral;
  border-radius: 5px;
  border: 0px #000000 solid;
  font-size: 30px;
  color: white;
}
